<html>
<head>
    <title>Emmet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="AppCtrl">

            <div class="row" >
                 <div class="form-group">
  
                <input type="search" class="form-control" id="exampleInputEmail1" placeholder="Search by Tittle"  ng-model="search.title">
            </div>
        
            </div>
                <div class="row" >
                    <tb-thumbnail ng-repeat="thumbnail in thumbnails | filter: search" title= "{{thumbnail.title}}" >{{thumbnail.summary}}</tb-thumbnail> 
                </div>

        </div>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>

    <script src="js/main.js"></script>
    <script src="js/controllers/app.js"></script>
    <script src="js/directives/thumbnail.js"></script>
</body>
</html>