<html>
<head>
    <title>Todo APP</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.css"/>
</head>
<body ng-app="myApp">
    
    <div ng-controller="AppCtrl">
        <input type="text" ng-model="todo"/>
        <button ng-click="addTodo()">Add Todo</button>

        <hr/>

        <ul>
            <li ng-repeat="todo in todos">{{todo}} <button ng-click="removeTodo($index)"> X </button></li>
        </ul>

    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <script src="node_modules/angular-local-storage/dist/angular-local-storage.js"></script>

    <script>
        var app = angular.module('myApp', ['LocalStorageModule']);
        
       app.config(function (localStorageServiceProvider) {
        localStorageServiceProvider
            .setPrefix('tb');
        });

        app.controller('AppCtrl', function($scope, $http, localStorageService,$rootScope){
            var todos = localStorageService.get('todos')
            $scope.todos = (todos && todos.split('::')) || [];


            $rootScope.$watch(function(){
                console.log('digest processing')
            })

            /*$scope.$watch('todo', function () {
                        console.log('change detected... in todo')
            });
            */

            $scope.$watch('todos', function (newVal, oldVal) {
                console.log(oldVal);
                console.log(newVal);
                console.log('change detected')
                localStorageService.set('todos', newVal.join('::'));
                
            },true);
            
            $scope.addTodo = function(){
               /*$http({
                url: 'http://localhost:8000/todos',
                method: 'POST',
                data: {todo: $scope.todo}
                }).then((res)=>res.data)
                .then((data)=>{
                    $scope.todos = data;
                })*/
                $scope.todos.push($scope.todo)
                
                $scope.todo = ''
                console.log($scope.todos)
            }

            $scope.removeTodo = function(index){
                $scope.todos.splice(index,1);
                /*$http({
                url: 'http://localhost:8000/todos',
                method: 'DELETE',
                data: {index: index}
                }).then((res)=>res.data)
                .then((data)=>{
                    $scope.todos = data;
                })*/
                console.log('remove todos')
            }
           
        })  

    </script>
   
</body>
</html>